[submodule "themes/hugo-xterm"]
	path = themes/hugo-xterm
	url = https://github.com/manid2/hugo-xterm
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
